body {
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  background: linear-gradient(rgb(70, 106, 177, .8), #32A668)
}

.btn-white {
  background-color: white;
}

.form-control {
  color: white;
}

h3 {
  cursor: pointer;
}

.dashboard-nav {
  cursor: pointer;
}

.form-control:focus {
  color: white;
}

.form-control::placeholder {
  color:white;
}

.form-control:active {
  color: white;
}

h2 {
  font-size: 52px;
}

h4 {
  font-size: 16px;
}

.multiple-desktop {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
  .multiple-desktop-text {
    background: -webkit-linear-gradient(transparent, transparent);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .multiple-mobile-wrapper {
    position: relative;
    height: 100%; 
  }
  
  /* http://stackoverflow.com/a/23859719/1221082
   * http://stackoverflow.com/a/23795792/1221082
   */
  .multiple-mobile {
    /* old browsers */
    clip: rect(0 auto auto 0);
    clip: rect(0, auto, auto, 0);
    /* ios workaround */
    -webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    /* new browsers */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: -1;
  }
  
  .multiple-mobile-content {
    height: 100%;
  }
  
  .multiple-mobile:before {
    content: '';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .tiles {
    margin-top: 200px;
    margin-left: 17%;
    margin-right: 17%;
    display: grid;
    grid-gap: 15px; 
    overflow: hidden;
  /*   grid-template-columns: repeat(auto-fill, 200px); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) 150px); */
    grid-auto-flow: dense;
    text-align: center;
    position: relative;
    grid-auto-rows: minmax(200px, auto);
    
  }
  
  .item-signout {
    align-items: center;
    justify-content: center;
    display: flex
  }
  
  .item-tall {
      grid-row: span 2;
      align-items: center;
      justify-content: center;
      position: relative;
      box-align: center;   
  }
  
  .item:nth-of-type(3n) {
      grid-column: span 2;
  }
  
  .item-income {
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-travel {
    grid-row: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-bills {
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-addTransactions {
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-groceries {
    grid-row: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-goals {
    grid-row: span 1;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item-auth {
    grid-row: span 2;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item-stock-market {
    grid-row: span 1;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-barsAndRestaurants {
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .item-rent {
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  body {
    /* background: url("./img/wallstreet.jpg") no-repeat center center; */
    background: url("https://lh3.googleusercontent.com/pw/ACtC-3ePQ-vbdgKrGPzewp9MwoKAVrDL_n7Gg0CUUz-K4KHTsV2wGf3PjnITn-pE4g4cG0FQmdZWRQYYdL7-YaPN5XQ7aLss8_tn7HVq9mw4NWLPCGlMmbfsS4lV2KurdlGtjxg_fTkxUx4N94hGueu5aAPJ=w2550-h1700-no?authuser=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  